.ActiveButton {
    background-color: #61dafb;
}

.DisabledButton {
    background-color: #395454;
}

.Button {
    border: none;
    border-radius: 5px;
    color: #282c34;
    padding: 12px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}